<%include ../partials/header%>
<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 pull-left">
        <a href="/posts" class="btn btn-info" id="homeBtn"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSNjhL8Rhq-UK9lZ5p_4q99atiRcSchc_I6WcCyjMWlxWj-JIbC7Q" alt="home logo" id="homeImg"></a>
        <a href="/posts/new" class="btn btn-info">New</a>
        <a href="/logout" class="btn btn-info">Logout</a>
        <a href="/login" class="btn btn-info">Login</a>
      </div>
      <div class="col-xs-4 pull-right">
        <label for="search">Search:</label>
        <input type="text" id="search">
      </div>
    </div>
  </div>
</div>