<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 pull-left">
        <a href="/posts" class="btn btn-info">Home</a>
        <a href="/posts/new" class="btn btn-info">New</a>
        <a href="/logout" class="btn btn-info">Logout</a>
        <a href="/login" class="btn btn-info">Login</a>
      </div>
      <div class="col-xs-4 pull-right">
        <label for="search">Search:</label>
        <input type="text" id="search">
      </div>
    </div>
  </div>
</div>