<%include ../partials/header%>
<%include ../partials/navigation%>
<div class="container">
  <h1>Edit Comment</h1>
  <form action="/comments/<%=comment.id%>?_method=put" method="POST">
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea type="text" name="comment[content]" id="comment" value="<%=comment.body%>" class="form-control"></textarea>
    </div>
    <input class="btn btn-block btn-primary" type="submit" value="Edit">
  </form>
</div>
<%include ../partials/footer%>