<%include ../partials/header%>
<%include ../partials/navigation%>
<h3 class="text-left"><a href="/">See All Posts</a></h3>
  <h3 class="text-center">Comments</h3>
  <%comments.forEach(function(comment){%>
<div class="container commentsWrapper">
<div class="col-xs-8 col-xs-offset-2">
    <div> <span>By:</span> <%=comment.user.username%></div>
    <div> <span>Content:</span> <%=comment.content%></div>
    <div class="col-xs-10 col-xs-offset-1">
      <a  class="pull-left btn btn-inline btn-info" href="/comments/<%=comment.id%>/edit">Edit</a>
      <form action="/comments/<%=comment.id%>?_method=delete" method="POST">
        <input class="pull-right btn btn-inline btn-info" type="submit" value="Delete">
      </form>
    </div>
    </div>
</div>
<%})%>
<%include ../partials/footer%>