<%include ../partials/header%>
<%include ../partials/navigation%>
  <a href="/comments">Return</a>
  <p><%=comment.content%></p>
  <p><%=comment.user%></p>
  <form action="/comments/<%=comment._id%>?_method=delete" method="POST">
    <input type="submit" value="delete">   
  </form>
<%include ../partials/footer%>