<%include ../partials/header%>
<!-- add unique styling with bootstrap and css -->
<div class="container">
  <h1 class="text-center">Location Review</h1>
  <div class="col-xs-4 col-xs-offset-1">
    <a class="btn btn-block btn-success pull-right" href="/login">Login</a>
  </div>
  <div class="col-xs-4 col-xs-offset-1">
    <a class="btn btn-block btn-primary pull-left" href="/signup">Sign Up</a>
  </div>
</div>
<%include ../partials/footer%>