<%include ../partials/header%>
<div class="container contentWrapper">
  <h2 class="text-center">Login</h2>
  <form action="/login"  method="POST">
    <div class="form group">
      <label for="username">User Name:</label>
      <input type="text" id="username" name="user[username]" class="form-control" autofocus>
    </div>
    <div class="form group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="user[password]" class="form-control">
    </div>
    <input type="submit" value="Login" class="btn btn-success pull-right">
    <a href="/signup" class="btn btn-primary pull-left" value="Sign Up">Don't have an account. Sign Up!</a>
  </form>
</div>  
<%include ../partials/footer%>