<include "../partial/header">
    <h3>Login</h3>
    <form action="/location" method="POST">
      <div>
        <% var city = features[0].place_name %>
      </div>
      <div>
        var state =
      </div>
      <div>
        
      </div>
      <div>
        <label for="username">User Name:</label>
        <input type="text" id="username" autofocus>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" id="password">
      </div>
      <input type="submit" class="">
      <a href="/signup">Don't have an account. Sign Up!</a>
  </form>
<include "../partial/footer">