<%include ../partials/header%>
    <h3>Login</h3>
    <form action="/login"  method="POST">
     <!--  <div>
        
        <label for="city">City:</label>
        <input type="text" id="city" name="">
      </div>
      <div>
        var state =
        <label for="state">State:</label>
        <input type="text" id="state">
      </div>
      <div>
        
      </div> -->
      <div>
        <label for="username">User Name:</label>
        <input type="text" id="username" name="user[username]" autofocus>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]">
      </div>
      <input type="submit" class="">
      <a href="/signup">Don't have an account. Sign Up!</a>
  </form>
<%include ../partials/footer%>