<include "../partial/header">
    <h3>Sign Up</h3>
    <form action="/signup" method="POST">
      <div>
        <label for="username">User Name:</label>
        <input type="text" id="username" name="user[username]" autofocus>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]">
      </div>
      <input type="submit">
    </form>
  <a href="/login">Already have an account?</a>
<include "../partial/footer">