<include "../partial/header">
  <form action="/signup" method="POST">
    <h3>Sign Up</h3>
    <form action="/signup" method="POST">
      <div>
        <label for="username">User Name:</label>
        <input type="text" id="username" autofocus>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" id="password">
      </div>
      <input type="submit" class="">
      <a href="/login">Already have an account?</a>
  </form>
<include "../partial/footer">