<%include ../partials/header%>
<%include ../partials/navigation%>
<div class="container">
  <h1>EDIT POST</h1>
  <form action="/posts/<%=post.id%>?_method=put" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" name="post[title]" id="title" class="form-control">
    </div>
    <!-- <div class="form-group">
      <label for="date"></label>
      <input type="text" name="post[date]" id="date" class="form-control" value="post[title]">
    </div> -->
    <div class="form-group">
    <!-- add upload button -->
      <label for="image">Image:</label>
      <input type="hidden" name="post[image]" id="image" class="form-control" data-images-only="true" role="uploadcare-uploader">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" name="post[description]" id="description" class="form-control">
    </div>
    <div class="form-group">
      <!-- geo locate button -->
      <label for="location">Location:</label>
      <input type="button" name="post[location]" id="location" class="form-control">
    </div>
    <div>
      <p></p>
    </div>
    <input type="submit" value="Update" class="btn btn-success btn-block">
  </form>
</div>
<script type="text/javascript" src="/script.js"></script>
<%include ../partials/footer%>